* {
  margin: 0;
  padding: 0;
  font-family: Times New Roman, sans-serif;
}

h1 {
  font-size: 45px;
  color: MidnightBlue;
  font-style: italic;
  padding: 10px 5px 10px 5px;
  text-align: center;
  border-radius: 100;
  border: 2px solid black;
  width: 50%;
}

h2 {
  color: Maroon;
  background-color: Black;
  width: 35%;
  text-align: relative;
}

h3 {
  color: Maroon;
  background-color: Black;
  width: 20%;
  text-align: center;
}

p {
  font-size: 1em;
  font-family: serif;
  padding: 20px;
  font-weight: bold;
}

.all {
  font-family: fantasy;
  font-weight: 400;
  margin: auto;
  padding: inherit;
}

#WW2 {
  height: 30%;
  width: 80%;
}
