* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 45px;
  font-family: fantasy;
  color: MidnightBlue;
  font-style: italic;
  padding: 10px 5px 10px 5px;
  text-align: center;
  border-radius: 100%;
  border: 5px solid black;
  width: 40%;
  margin-top: 5px;
  position: relative;
  left: 350px;
}

.lite {
  color: inherit;
  background-color: red;
  font-weight: bold;
  width: 250px;
}

#about {
 margin: auto;
 display: block;
}

h2 {
  color: Maroon;
  background-color: Black;
  width: 425px;
  text-align: relative;
  margin-top: 10px;
}

h3 {
  color: Maroon;
  background-color: Black;
  width: 250px;
  text-align: center;
}

p {
  font-size: 1em;
  font-family: serif;
  padding: 20px;
  line-height: 20px;
}

.lead {
  font-size: 25px;
  color: MidnightBlue;
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 60px;
  width: 80%;
  position: relative;
  left: 100px;
  text-align: center;
}

div.all {
  font-family: Times New Roman, serif;
  font-weight: 400;
  margin: auto;
  padding: inherit;
}

#WW2 {
  height: 30%;
  width: 80%;
}

ol {
  margin-left: 20px;
}

#newt {
  position: relative;
  left: 150px;
}
