* {
  margin: 0;
  padding: 0;
  font-family: Times New Roman, sans-serif;
}

h1 {
  font-size: 45px;
  color: MidnightBlue;
  font-style: italic;
  padding: 10px 5px 10px 5px;
  text-align: center;
  border-radius: 100;
  border: 2px solid black;
  width: 50%;
}

p {
  font-size: 1em;
  font-family: Calbria, fantasy;
  padding: 20px;
  font-weight: bold;
}

img {
  height: auto;
  width: auto;
}
